* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
:root {
  --bg-color: #000000;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --primary-text: #f4f4f4;
  --delete-color: #ff4d4d;

  /* Padding Variable  */

  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;

  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /* border-radius  */
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 30px;
}
body {
  background-color: var(--bg-color);
  color: var(--primary-text);
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: var(--nav-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(22, 222, 249); */
}
.nav button {
  background-color: var(--bg-button-color);
  border: none;
  outline: none;
  color: var(--primary-text);
  padding: var(--padding-m) var(--padding-l);
  cursor: pointer;
  border-radius: var(--border-radius-m);
}

/* Bord Section Styling */

section {
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  /* background-color: skyblue; */
  display: flex;
  flex-grow: 1;
  gap: var(--border-radius-xxl);
}
section .task-column {
  background-color: var(--bg-button-color);
  flex-grow: 1;
  padding: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  border-radius: var(--padding-m);
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
section .task-column .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
section .task-column .task {
  background-color: var(--bg-task-color);
  padding: var(--padding-m);
  border-radius: var(--padding-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  cursor: grab;
}
section .task-column .task button {
  align-self: flex-end;
  padding: var(--padding-s) var(--padding-m);
  cursor: pointer;
  border-radius: var(--padding-s);
  border: none;
  outline: none;
  background-color: var(--delete-color);
  color: var(--primary-text);
}
section .task-column.hover-over {
  border: 2px dashed var(--primary-text);
  scale: 1.05;
}
